﻿@model AlanLawless_CA2.Models.Movie

<div class="container jumbotron">
    <div class="col-lg-4"></div><h1 style="margin:auto; align-content:center; margin-bottom:20px">@Html.DisplayFor(model => model.Title)</h1>
    <div class="col-md-6">
        
        <div >
            @Html.DisplayFor(model => model.Description)
            <p>_____________________________________</p>
        </div>

  
        <div class="display-field">
            Directed By :&nbsp;@Html.DisplayFor(model => model.Director)
        </div>

        <div class="display-field">
            Released :&nbsp;@Html.DisplayFor(model => model.Year)
        </div>
        
            <img class="col-md-3" src="@Html.DisplayFor(model => model.MovieImage)"  alt=" no image available" style="width:250px; height:250px;"></div>
        
       


                
                @if(Model.MoviePreview!=null)
                { 
                <iframe width="420" height="315"
                        src="@Url.Content(Model.MoviePreview)"></iframe>
                }
                else
                {
                    @String.Format("No Available Preview")
                }
    <br />
                @for (int i = 0; i < Model.StarRating; i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }


            </div>

