﻿@model AlanLawless_CA2.Models.Actor
@using AlanLawless_CA2.Models;
@using System.Data;


<fieldset class="jumbotron">

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name) :
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-field">Born : 
        @Html.DisplayFor(model => model.DOB)
    </div>
    <div class="display-field">
        Gender : 
        @Html.DisplayFor(model => model.Sex)
    </div>
    

   
</fieldset>
