﻿@model AlanLawless_CA2.Models.Actor

<fieldset class="jumbotron">


        <h2>@Html.DisplayFor(model => model.Name)</h2> 


   <h3>Featured Films :</h3>

    @foreach (var item in Model.ActorMovies)
    {
        <div style="border:solid 1px black; padding:5px; margin:5px;">
            @if(item.Movie.MovieImage!=null)
            { 
            <img src="@Url.Content(item.Movie.MovieImage)" alt="Image" style="width:250px; height:250px;" />
            <h3>@Html.DisplayFor(modelItem => item.Movie.Title)</h3>
            <p>as</p>
            <p>@Html.DisplayFor(modelItem => item.ScreenName)</p>
            }
            else
            {
                @String.Format("No Image Available")
    <h3>@Html.DisplayFor(modelItem => item.Movie.Title)</h3>
    <p>as</p>
    <p>@Html.DisplayFor(modelItem => item.ScreenName)</p>
            }
        </div>
        
    }
</fieldset>

