﻿@model AlanLawless_CA2.Models.Actor

<fieldset>
    <legend>Actor</legend>
  
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
    <div>
        @foreach (var item in Model.theMovies)
        {
            @Html.DisplayFor(modelItem => item.Title);
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ActorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
