﻿@model AlanLawless_CA2.Models.Movie
<div class="container jumbotron">

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h2>Adding New Movie</h2>
        <br /><br />
        <label for="Title">Title : </label>
        <input style="float:right;" id="Title" name="Title" type="text" />
        <br /><br />
        <label for="Description">Description : </label>
        <input style="float:right;" id="Description" name="Description" type="text" />
        <br /><br />
        <label for="Director">Director : </label>
        <input id="Director" style="float:right;" name="Director" type="text" />
        <br /><br />
        <label for="Year">Year : </label>
        <input id="Year" name="Year" style="float:right;" type="text" />
        <br /><br />
        <label for="MovieImage">URL of Movie Poster : </label>
        <input id="MovieImage" style="float:right;" name="MovieImage" type="text" />
        <br /><br />
        <label for="MoviePreview">Movie Preview : </label>
        <input id="MoviePreview" style="float:right;" name="MoviePreview" type="text" />
        <br /><br />
        <br /><br />

        <input type="submit" value="Save" id="submitMovie" class="customBtn" style="margin-top: -5px;" />


        @Html.ActionLink("Back to List", "Index")
    </div>

</div>