﻿body {
    
}

.customBtn {
   border-top: 1px solid #999999;
   background: #4b5154;
   background: -webkit-gradient(linear, left top, left bottom, from(#7a858c), to(#4b5154));
   background: -webkit-linear-gradient(top, #7a858c, #4b5154);
   background: -moz-linear-gradient(top, #7a858c, #4b5154);
   background: -ms-linear-gradient(top, #7a858c, #4b5154);
   background: -o-linear-gradient(top, #7a858c, #4b5154);
   padding: 7.5px 15px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   
   }
.customBtn:hover {
   border-top-color: #4d565c;
   background: #4d565c;
   color: #ccc;
   border:none;
   }

.customBtn:active {
   border-top-color: #4d565c;
   background: #4d565c;
   color: #ccc;
   border:none;
   }
.textboxClass{
    float:right;
    margin-right:50%;
}