﻿@model AlanLawless_CA2.Models.MoviesActor


<div class="container jumbotron">
    <div class="col-lg-4"></div>
    <div class="col-lg-6">
        <div>
            <h2>You are Adding Actor</h2>
            <h3>@Html.DropDownList("ActorId", new SelectList(ViewBag.Actors, "ActorId", "Name"))</h3>
        </div>
        <div>
            <h2>To This Movie</h2>
            <h3>@Html.DropDownList("MovieId", new SelectList(ViewBag.Movies, "MovieId", "Title"))</h3> 
        </div>

        <br /><br />
        <label for="ScreenName">Name of Character in Movie : </label><br />
        <input id="ScreenName" name="ScreenName" type="text" /><br /><br /><br />

        <input type="submit" value="Save" id="submitActorToMovie" class="customBtn" style="margin-top: -5px;" />
        
            @Html.ActionLink("Back to List", "Index")
        
    </div>
</div>