﻿@model AlanLawless_CA2.Models.Actor

<div class="jumbotron container">
    
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h2>Adding New Actor</h2>
        <br /><br />
        <label for="Name">Name : </label>
        <input style="float:right;" id="Name" name="Name" type="text" />
        <br /><br />
        <label for="DOB">Date Of Birth : </label>
        <input type="text" style="float:right;" id="DOB" name="DOB" />
        <br /><br />
        <label for="Sex">Gender : </label>
        <select id="Sex" style="float:right;" name="Sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        
        <br /><br />
        <label for="Image">URL of Actor's Photo : </label>
        <input id="Image" style="float:right;" name="Image" type="text" />
        <br /><br />
        <br /><br />
        <input type="submit" value="Save" id="submitActor" class="customBtn" style="margin-top: -5px;" />
            @Html.ActionLink("Back to List", "Index")
       
        </div>
    </div>
