﻿@model AlanLawless_CA2.Models.MoviesActor

@{
    ViewBag.Title = "CreateMovieActor";
}

<h2>CreateMovieActor</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MoviesActor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScreenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScreenName)
            @Html.ValidationMessageFor(model => model.ScreenName)
        </div>

        @Html.LabelFor(model => model.ActorId)
        @Html.DropDownList("ActorId", new SelectList(ViewBag.Actors, "ActorId", "Name"))

        @Html.LabelFor(model => model.MovieId)
        @Html.DropDownList("MovieId", new SelectList(ViewBag.Movies, "MovieId", "Title"))




        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
