﻿@using AlanLawless_CA2.Models;
@using System.Web.UI.WebControls;
@model AlanLawless_CA2.Models.Movie
           


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        <label>Title</label>
        <form id="form1">
            <input type="text" value="" name="Title" id="Title" data-rule-required="true" data-msg-required="ahhhhhh." class="input-validation-error">
            <span data-valmsg-replace="false" data-valmsg-for="Title" class="field-validation-error">*</span>
        </form>


        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Director)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Director)
            @Html.ValidationMessageFor(model => model.Director)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovieImage)
        </div>
        <form id="form1">
            <div class="editor-field">
                @Html.EditorFor(model => model.MovieImage)
                @Html.ValidationMessageFor(model => model.MovieImage)
            </div>
        </form>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoviePreview)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoviePreview)
            @Html.ValidationMessageFor(model => model.MoviePreview)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StarRating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StarRating)
            @Html.ValidationMessageFor(model => model.StarRating)
        </div>
        @Html.EditorFor(model=>model.theActors)
       @Html.DropDownList("ActorId", new SelectList(ViewBag.Actors, "ActorId", "Name"))
        
            <p>
            <input type="submit" id="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $("#submit").click(function()
    {
	
        $("#form1").validate({
            rules:{
                Title:{
                    required:true,
                    minlength:2
                }
            },
            
            messages:{
               
                
                Title:{
                    required:"requered",
                    minlength:"You're name cannot be that short"
                }
            }
        });
        });
    
       </script>
}
 $("#submit").click(function()
    {

        $('#form1').validate({

            rules:{


                firstName:{
                    required:true,
                    minlength:2
                }
            },
            messages:{
                firstName:{
                    required:"Please enter your first name",
                    minlength:"You're name cannot be that short"
                }
            }
        })
    })
