﻿@model AlanLawless_CA2.Models.Movie



<!--<fieldset>-->
<div class="container">
    <table class="table col-md-4 container jumbotron" style="width:40%; float:left;">
        
        <tr style="background-color:black">
            <th>
                @String.Format("Actors Name")
            </th>
            <th>
               @String.Format("Character Name")
            </th>
            <th>
            </th>
            <th><button class="customBtn">@Html.ActionLink("Back to List", "Index")</button></th>

        </tr>
        @foreach (var item in Model.ActorsInMovie)
        {
            <tr>
                <td>

                    @Html.DisplayFor(model => item.Actor.Name)



                </td>
                <td>
                    @Html.DisplayFor(model => item.ScreenName)
                </td>
                <td>
                    @if(item.Actor.Image != null)
                    { 
                    <img src="@Url.Content(item.Actor.Image)" alt="Image" style="width:250px; height:250px;" />
                    }
                    else
                    {
                        @String.Format("No Image Available")
                    }
                </td>
                <td>
                    <button class="customBtn" style="margin-bottom:5px;" onclick="showActorInfo('@item.ActorId')">
                        Actor Info</button>

                    <button class="customBtn" style="margin-bottom:5px;" onclick="getMovieList('@item.ActorId')">Actors Movies
                    </button>
</td>
                
            </tr>
        }

    </table>
    <div class="col-md-6 container" id="actorInfo">
        
        

        </div>
</div>

@section scripts
{
    <script>
    
        function getMovieList(actorId) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("MoviesActorsById")',
                data: { id: actorId },
                success: function (data) {
                    $('#actorInfo').hide();
                    $('#actorInfo').html(data);
                    $('#actorInfo').fadeIn();
                },
                error: function (data) {
                    $('#actorInfo').html("Error");
                }
            });
        }


        function showActorInfo(actorId){
            $.ajax({
                type: "GET",
                url: '@Url.Action("ActorsById")',
                data: {id: actorId},
                success: function (data){
                    $('#actorInfo').hide();
                    $('#actorInfo').html(data);
                    $('#actorInfo').fadeIn();
                },
                error: function (data){
                    $('#actorInfo').html("Error");
                }
            });
        }
        
    </script>
}
