﻿@model AlanLawless_CA2.Models.Movie

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="container">

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h2>Adding New Movie</h2>

        <input id="MovieId" name="MovieId" type="hidden" value="@Model.MovieId" />

        @*@Html.displaynamefor(model => model.Title)*@<label for="Title">
            @Html.LabelFor(model => model.Title)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Title"  name="Title" type="text" value="@Model.Title">
    </label><br />


    <label for="Description">
        @Html.LabelFor(model => model.Description)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Description" name="Description" type="text" value="@Model.Description">
    </label><br />


    <label for="Director">
        @Html.LabelFor(model => model.Director)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Director" name="Director" type="text" value="@Model.Director">
    </label><br />


    <label for="Year">
        @Html.LabelFor(model => model.Year)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Year" name="Year" type="text" value="@Model.Year">
    </label><br />


    <label for="MovieImage">
        @Html.LabelFor(model => model.MovieImage)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="MovieImage" name="MovieImage" type="text" value="@Model.MovieImage">
    </label><br />

    <label for="MoviePreview">
        @Html.LabelFor(model => model.MoviePreview)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="MoviePreview" name="MoviePreview" type="text" value="@Model.MoviePreview">
    </label><br />

    <label for="StarRating">
        @Html.LabelFor(model => model.StarRating)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="StarRating" name="StarRating" type="text" value="@Model.StarRating">
    </label><br />
        </div>
    </div>
    <!--<p>
                <input type="submit" value="Save" />
            </p>-->
    }
    <!--
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
        -->
