﻿@model AlanLawless_CA2.Models.Movie

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


        <input id="MovieId" name="MovieId" type="hidden"  value="@Model.MovieId"/>
<input id="Title" name="Title" type="hidden" value="@Model.Title" />
<div class="col-md-2"></div>
<div class="col-md-10">
    <h2>
        Are you sure you would like to delete :
        @Html.DisplayFor(model => model.Title)
    </h2>
</div><br /><br />
<!--
<div>
    @Html.ActionLink("Back to List", "Index")

</div>
    --></di