﻿@model IEnumerable<AlanLawless_CA2.Models.Movie>
<script src="~/Scripts/alertify/alertify.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<div class="container">
    <div id="carousel-example-generic" class="carousel slide"  data-ride="carousel" style="height:600px; width:1027px; margin-bottom:20px; margin-left:47px">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="~/Images/KillBill.jpg" alt="..." style="height:600px; width:1027px;">
                <div class="carousel-caption">
                    <h3>KILL BILL</h3>
                </div>
            </div>
            <div class="item active">
                <img src="~/Images/Inception.jpg" alt="..." style="height:600px; width:1027px;">
                <div class=" carousel-caption">
                    <h3>INCEPTION</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/DjangoUnchained.jpg" alt="..." style="height:600px; width:1027px;">
                <div class=" carousel-caption">
                    <h3>DJANGO UNCHAINED</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/DarkKnightRises.jpg" alt="..." style="height:600px; width:1027px;">
                <div class=" carousel-caption">
                    <h3>DARK KNIGHT RISES</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/PulpFiction.jpg" alt="..." style="height:600px; width:1027px;">
                <div class=" carousel-caption">
                    <h3>PULP FICTION</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Interstellar.jpg" alt="..." style="height:600px; width:1027px;">
                <div class=" carousel-caption">
                    <h3>INTERSTELLAR</h3>
                </div>
            </div>

            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container" id="movieDescription"></div>
    <form id="formAddingNewActor"><div id="AddingActor"></div></form>
        <!--<form id="formAddingNewMovie"><div id ="AddActorToMovie"></div></form>-->
        
    <form id="formAddingNewMovie"><div id="AddingMovie"></div></form>
    <form id="formDeleteMovie" class="jumbotron" hidden="">
        <div id="deleteMovie"></div>
        <div class="col-lg-5"></div><input type="submit" value="Delete Movie" id="DeleteMovie" class="customBtn" />
    </form>
    <form id="formEditMovie" class="jumbotron" hidden="">
        
        <div id="editMovie"></div>
        <input type="submit" value="Save" id="submitMovie" class="customBtn" style="margin-top: -5px; margin-left:47%" />
    </form>
    <form id="formAddingActorToMovie"> <div id="AddingActorToMovie"></div></form>
        <div class="container" style="margin:0 auto">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                
                <button class="customBtn" onclick="btnAddActorsToMovies()">Put Actor In Movies</button>
                <button class="customBtn" onclick="btnAddMovie()">Add Movie</button> <button class="customBtn" onclick="btnAddActor()">Add Actors</button>
                <button class="customBtn">@Html.ActionLink("List Of Actors", "ListOfActors", new { @class = "customBtn" })</button>
            </div>



            @foreach (var item in Model)
            {
                if (item.MovieId != null)
                { 
                <div class="col-md-5 jumbotron" style="padding:10px; border:solid 1px black; border-radius:3px; margin-top:20px; margin-right:50px; margin-left:30px">
                    @if (item.MovieImage!= null)
                    {
                        <img class="col-md-3" src="@Url.Content(item.MovieImage)" alt="No Image Available" style="width:250px; height:250px;" />

                    }
                    else
                    {
                        @String.Format("No Image available");
                    }
                    <h4>
                        <a onclick="getMovieDescription('@item.MovieId')">@Html.DisplayFor(modelItem => item.Title)</a>
                    </h4>
                    @for (int i = 0; i < item.StarRating; i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                    <div>
                        @String.Format("Directed by : {0}", item.Director)
                    </div><div class="container" style="margin-top:20px">
                              <button class="customBtn" style="margin-bottom:5px;"> @Html.ActionLink("Actors", "Details", new { id = item.MovieId })</button><br />
                              <button class="customBtn" style="margin-bottom:5px;" onclick="btnEditMovie('@item.MovieId')">Edit Movie</button> <br />
                              <button class="customBtn" style="margin-bottom:5px;" onclick="btnDeleteMovie('@item.MovieId')">Delete Movie</button>
                </div>
                   
                        
                   
                </div>

                
                }
                else
                { 
                @Html.Action("Index");
                }
            }

        </div>





</div>

@section scripts
{
    
    <script>
        $(function () {
            $('#date1').datepicker({ pickTime: false });
        });
        /*
        
        $(function () {
            $('#datetimepicker1').datetimepicker({ pickTime: false });
        });
        
        
        $('#DOB').datepicker({
            dateFormat: 'dd/mm/yyyy',
            changeYear: true,
            maxDate: '-18y'
        });*/
        
    function reset() {

        alertify.set({
            labels: {
                ok: "OK",
                cancel: "Cancel"
            },
            delay: 5000,
            buttonReverse: false,
            buttonFocus: "ok"
        });
    }

   


    function btnDeleteMovie(movieId){
        $.ajax({
            type: "GET",
            url: '@Url.Action("DisplayDeleteMovie")',
            data: { id: movieId },
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#AddingActor').hide();
                $('#editMovie').hide();
                $('#formEditMovie').hide();
                $('#formDeleteMovie').hide();
                $('#movieDescription').hide();
                $('#deleteMovie').html(data)
                $('#deleteMovie').fadeIn();
                $('#formDeleteMovie').fadeIn();
                alert1();

            },
            error: function (data) {
                $('#formDeleteMovie').html("An error has occured");
            }
        });
    }

    function btnEditMovie(movieId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("DisplayEditMovie")',
            data: { id: movieId },
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#AddingActor').hide();
                $('#editMovie').hide();
                $('#AddingActorToMovie').hide();
                $('#formDeleteMovie').hide();
                $('#movieDescription').hide();
                $('#deleteMovie').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#editMovie').html(data)
                $('#editMovie').fadeIn();
                $('#formEditMovie').fadeIn();
                alert2();
            },
            error: function (data) {
                $('#formEditMovie').html("An error has occured");
            }
        });
    }
    $("#formDeleteMovie").submit(function () {

        $.ajax({
            url: '@Url.Action("DisplayDeleteMovieSubmit")',
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    $('#AddActorToMovie').hide();
                    $('#AddingMovie').hide();
                    $('#editMovie').hide();
                    $('#AddingActorToMovie').hide();
                    $('#formEditMovie').hide();
                    $('#movieDescription').hide();
                    $('#AddingNewMovie').hide();
                    $('#AddingNewMovie').hide();
                    $('#deleteMovie').hide();
                    $('#formDeleteMovie').hide();
                    


                },
                error: function () {
                    $('#formDeleteMovie').html("An error has occured");
                }
            });
        })

                
    $("#formEditMovie").submit(function () {

        $.ajax({
            url: '@Url.Action("DisplayEditMovieSubmit")',
            type: "POST",
            data: $(this).serialize(),
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#AddActorToMovie').hide();
                $('#AddingActorToMovie').hide();
                $('#movieDescription').hide();
                $('#AddingNewMovie').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#AddingNewMovie').hide();
                $('#editMovie').hide();
                $('#formEditMovie').hide();
                /*function alert1() {
                    reset();
                    alertify.alert("You have successfully added a new Movie!!!");
                    return false;
                }*/

            },
            error: function () {
                $('#AddingNewActor').html("An error has occured");
            }
        });
    })


      
    function getMovieDescription(movieId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("DisplayMovieDescription")',
            data: { id: movieId },
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#movieDescription').hide();
                $('#AddingActorToMovie').hide();
                $('#editMovie').hide();
                $('#AddingNewMovie').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#movieDescription').html(data)
                $('#movieDescription').fadeIn();
            },
            error: function (data) {
                $('#movieDescription').html("An error has occured");
            }
        });
    }

    function btnAddMovie() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AddingNewMovie")',
            /*data: {
                'addNewMovie': {
                    'Title': 'movieTitle'
                }
            },*/
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#AddingActor').hide();
                $('#movieDescription').hide();
                $('#AddingActorToMovie').hide();
                $('#editMovie').hide();
                $('#formEditMovie').hide();
                $('#formDeleteMovie').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#AddingMovie').html(data);
                $('#AddingMovie').fadeIn();
                alert2()
                //formAlert();
                            },
            error: function () {
                $('#AddingMovie').html("An error has occured");
            }
        });
    }

    function btnAddActor() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AddingNewActor")',
            /*data: {
                'addNewMovie': {
                    'Title': 'movieTitle'
                }
            },*/
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#formEditMovie').hide();
                $('#formDeleteMovie').hide();
                $('#deleteMovie').hide();
                $('#AddingMovie').hide();
                $('#AddingActor').hide();
                $('#AddingActorToMovie').hide();
                $('#editMovie').hide();
                $('#formEditMovie').hide();
                $('#formDeleteMovie').hide();
                $('#movieDescription').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#AddingActor').html(data);
                $('#AddingActor').fadeIn();
                
            },
            error: function () {
                $('#AddingActor').html("An error has occured");
            }
        });
    }

    function btnAddActorsToMovies() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AddingActorToMovie")',
            /*data: {
                'addNewMovie': {
                    'MovieId': 'movie',
                    'ActorId': 'actor'
                }
            },*/
            success: function (data) {
                $('#AddActorToMovie').hide();
                $('#AddingMovie').hide();
                $('#AddingActor').hide();
                $('#editMovie').hide();
                $('#formEditMovie').hide();
                $('#formDeleteMovie').hide();
                $('#deleteMovie').hide();
                $('#formDeleteMovie').hide();
                $('#movieDescription').hide();
                $('#AddingNewMovie').hide();
                $('#AddingActorToMovie').html(data);
                $('#AddingActorToMovie').fadeIn();
                
            },

            error: function () {
                $('#AddingActorToMovie').html("An error has occured");
            }
        });
    }
    function alert1() {
        reset();
        alertify.alert("Movie will not delete. Check 'DisplayDeleteMovieSubmit' in HomeController to see why");
        return false;
    }
    function alert2() {
        reset();
        alertify.alert("Please refresh once page once process is completed");
        return false;
    }



    $('#formAddingNewActor').validate({

        rules: {


            Name: {
                required: true
                    }

            /*,
                DOB: {
                    required: true,
                    minlength: 2
                },
                Sex: {
                    number: true,
                    minlength: 4,
                    min: 1920,
                    max: (new Date).getFullYear()

                },
                Image: {
                    required: true
                }*/
        },

        messages: {

            Name: {
                required: "The Movie have a title"

            }
        },
        submitHandler: $("#formAddingNewActor").submit(function () {

            $.ajax({
                url: '@Url.Action("AddingNewActorSubmit")',
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    $('#AddActorToMovie').hide();
                    $('#AddingNewMovie').hide();
                    $('#AddingActorToMovie').hide();
                    $('#AddingActor').hide();
                    $('#editMovie').hide();
                    $('#formEditMovie').hide();
                    $('#formDeleteMovie').hide();
                    $('#movieDescription').hide();
                    $('#deleteMovie').hide();
                    $('#formDeleteMovie').hide()
                    /*function alert1() {
                        reset();
                        alertify.alert("You have successfully added a new Movie!!!");
                        return false;
                    }*/

                },
                error: function () {
                    $('#AddingNewActor').html("An error has occured");
                }
            });
        })
    });

    // $(document).on('click','#submitMovie', function(){
    //$("#formAddingNewMovie").submit (function () {
    $('#formAddingNewMovie').validate({

        rules: {


            Title: {
                required: true

            },
            Description: {
                required: true,
                minlength: 2
            },
            Year: {
                number: true,
                minlength: 4,
                min: 1920,
                max: (new Date).getFullYear()

            },
            Director: {
                required: true
            },
            MovieImage: {
                url: true

            },
            StarRating: {
                required: true,
                minlength: 4
            }
        },

        messages: {
            Title: {
                required: "The Movie have a title"
            },
            Year: {
                number: "Only Number Can Be Entered Here",
                min: "There Were No Movies Made Before 1920",
                max: "Movie Has Not Been Released Yet"
            },
            MovieImage: {
                required: "Enter a Url Please"
            },
            Director: {
                required: "Every Movie Has A Director"
            },
        },
        submitHandler: $("#formAddingNewMovie").submit(function () {

            $.ajax({
                url: '@Url.Action("AddingNewMovieSubmit")',
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    /*$('#AddActorToMovie').hide();
                    $('#AddingNewMovie').hide();
                    $('#AddingActor').hide();
                    $('#movieDescription').hide();*/
                    $('#AddActorToMovie').hide();
                  $('#AddingMovie').hide();
                  $('#editMovie').hide();
                  $('#formEditMovie').hide();
                  $('#formDeleteMovie').hide();
                  $('#AddingActorToMovie').hide();
                  $('#movieDescription').hide();
                  $('#formAddingNewActor').hide();
                  $('#AddingNewMovie').hide();
                  $('#formAddingNewMovie').hide();
                  $('#deleteMovie').hide();
                  $('#deleteMovie').hide();
                  $('#formDeleteMovie').hide();
                    

                    //alert1();
                    /*function alert1() {
                        reset();
                        alertify.alert("You have successfully added a new Movie!!!");
                        return false;
                    }*/

                },
                error: function () {
                    $('#AddingNewMovie').html("An error has occured");
                }
            });
        })
    });





    $('#formAddingActorToMovie').validate({

        rules: {


            ScreenName: {
                required: true

            }/*,
                DOB: {
                    required: true,
                    minlength: 2
                },
                Sex: {
                    number: true,
                    minlength: 4,
                    min: 1920,
                    max: (new Date).getFullYear()

                },
                Image: {
                    required: true
                }*/
        },

        messages: {

            ScreenName: {
                required: "The Character Must have a Name"

            }
        },
        submitHandler: $("#formAddingActorToMovie").submit(function () {

            $.ajax({
                url: '@Url.Action("AddingActorToMovieSubmit")',
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    /*$('#AddActorToMovie').hide();
                    $('#AddingNewMovie').hide();
                    $('#AddingActor').hide();
                    $('#movieDescription').hide();*/
                    $('#AddActorToMovie').hide();
                  $('#AddingMovie').hide();
                  $('#editMovie').hide();
                  $('#formEditMovie').hide();
                  $('#AddingActorToMovie').hide();
                  $('#formDeleteMovie').hide();
                  $('#movieDescription').hide();
                  $('#formAddingNewActor').hide();
                  $('#AddingNewMovie').hide();
                  $('#formAddingNewMovie').hide();
                  $('#deleteMovie').hide();
                  $('#deleteMovie').hide();
                  $('#formDeleteMovie').hide();
                    

                },
                error: function () {
                    $('#AddingNewActor').html("An error has occured");
                }
            });
        })
    });
    
            


    /*var statusGenerator = function (text) {
        var statusElem = $(".status-box");
        var child = $("<span style='display: block'></span>").text(text);
        statusElem.append(child);
    };
    myDatePicker.on("select", function (data) {
        statusGenerator(data.string + " selected")
    });
    myDatePicker.on("change", function (data) {
        statusGenerator("Date picker changed current date: " + data.string);
    });
    myDatePicker.on("show", function () {
        statusGenerator("Date picker show")
    });
    myDatePicker.on("clear", function (data) {
        statusGenerator("Date picker cleared. cleared date: " + data.string)
    });
    myDatePicker.on("hide", function () {
        statusGenerator("Date picker hide")
    });
    */


</script>
}