﻿@model IEnumerable<AlanLawless_CA2.Models.Actor>

<h2>All Actors</h2>

<table class="table col-md-4 container jumbotron" style="width:40%; float:left;">
    <tr>
        <th>
            
            <a  href="@Url.Action("ListOfActors", new { orderOfActors = ViewBag.Name })">
                @if (ViewBag.Name == "a_to_z")
                {
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                }
                else if (ViewBag.Name == "z_to_a")
                {
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                }
                &nbsp;Alphabetical
                </a>
</th>
        <th>
            <a href="@Url.Action("ListOfActors", new { orderOfActors = ViewBag.DOB })">
                @if (ViewBag.Name == "youngest")
                {
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                }
                else if (ViewBag.Name == "oldest")
                {
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                }
                &nbsp;Age
            </a>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        <!--<th> 
            <a href="@Url.Action("ListOfActors", new { orderOfActors = ViewBag.noOfMovies })">
                @if (ViewBag.Name == "least")
                {
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                }
                else if (ViewBag.Name == "most")
                {
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                }
                &nbsp;No. Of Movies
            </a>-->

        </th>
        <th>
            
        </th>
        <th><button class="customBtn">@Html.ActionLink("Back to List", "Index")</button></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border-bottom:solid 1px black; margin-top:10px;">
            <td>
                @if(item.Image!=null)
                { 
                <div style="border:solid 1px black; text-align:center;">
                    <img class="col-md-3" src="@Url.Content(item.Image)" alt="No Image Available" style="width:250px; height:250px;" />
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                }
                else
                {
                    <div style="border:solid 1px black; text-align:center;">
                        @String.Format("No Image Available")
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                }
       
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            
            @*<td>
               @Html.DisplayFor(modelItem => item.ActorMovies.Count).ToString()
    </td>*@ 
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                
            </td>

            <td>
                <span class="customBtn" onclick="getMovieList('@item.ActorId')">Movies</span>
            </td>
        </tr>
    }

</table>
<div class="col-md-6 container" id="actorInfo"></div>
    @section scripts
{
        <script>

            function getMovieList(actorId) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("MoviesActorsById")',
                    data: { id: actorId },
                    success: function (data) {
                        $('#actorInfo').hide();
                        $('#actorInfo').html(data);
                        $('#actorInfo').fadeIn();
                    },
                    error: function (data) {
                        $('#actorInfo').html("Error");
                    }
                });
            }
        </script>
    }
